<div id="top">
	<div class="main" >
		<h1 style="margin-left:25px;">About NOAA Teacher at Sea</h1>
		<div class="border2" style="margin-left:25px;"></div>
		<div ng-show="dataLoaded==false" style="margin:15px">
			<h1>Uh Oh!  The Information you requested was not found.</h1>
			<p>
				We've been changing some things around on our site.  The information you are looking for may have moved.  Please see below for the main pages on our website.  If you still can't find what you need, please email <a ng-href="emailto:teacheratsea@noaa.gov">teacheratsea@noaa.gov</a> with your request.
			</p>
		</div>
		<div class="preloader" ng-hide="dataLoaded==true"></div>
		
		<div ng-hide-"dataLoaded==false">
			<div id="image"><img resize-tabs src="{{top.image}}?w={{topImageWidth}}" alt="{{top[0].gsx$imagealt}}"/></div>
			<div class="main_text">

				<div id="intro_text">
					<span ng-bind-html="SkipValidation(top[0].gsx$text.$t)"></span>
				</div>
			</div>
		<div style="clear:both"></div>
		<div class="border"></div>
		<div class="main_inner_page">

			<div id="social_media" >
				<ul>
					<li ng-repeat="tab in tabs"  class="{{tab.gsx$tabname.state}}" ng-click="runTabs(tab.gsx$tabname.$t)">
						<a href="#{{location}}{{tab.gsx$tabname.rp}}">{{tab.gsx$tabname.$t}}</a>
					</li>
				</ul>
			</div>

			<div id="social_media_body">
				<div ng-repeat="tab in tabs" id="{{tab.gsx$tabname.$t}}" class="{{tab.gsx$tabname.classy}} animate-show">
					<div class="tab_1">
						<div id="wrapper1" class="wrapper_generic" style="overflow-y: scroll; overflow-x: hidden;">
							<div class="scroller_generic" id="scroller1" style="">
								<span ng-bind-html="SkipValidation(tab.gsx$body.$t)"></span>
							</div>
						</div>
					</div>
					<div class="tab_2"><img resize-tabs id="imageForms" src="{{tab.image}}?w={{bottomImageWidth}}" alt="{{tab.caption}}">
						<br>
						<span id="captionForms" style="margin-top:5px;" class="caption">{{tab.caption}}</span>
					</div><div style="clear:both"></div>
				</div>

			</div>
			<div style="clear:both"></div>
		</div>
	</div>
