<div id="top">

	<div class="main_top" style="margin-bottom: 0px;" >
		<h1>Teacher at Sea Alumni Association</h1>
		<div class="border2"></div>
		<div ng-show="dataLoaded==false" style="margin:15px">
			<h1>Uh Oh!  The Information you requested was not found.</h1>
			<p>
				We've been changing some things around on our site.  The information you are looking for may have moved.  Please see below for the main pages on our website.  If you still can't find what you need, please email <a ng-href="emailto:teacheratsea@noaa.gov">teacheratsea@noaa.gov</a> with your request.
			</p>
		</div>
		<div class="preloader" ng-hide="dataLoaded==true"></div>
		<div ng-hide="dataLoaded==false">
			<div id="intro_text">
				<div style="background-color:#EBFAF7; border:1px dotted #ccc; float:right; margin:10px;margin-top:0; margin-bottom:0; width:100px; padding:10px;">
					Learn about the <a href="#/NETASA">New England Teacher at Sea Alumni</a>
				</div>
				<p style="float:left">
					In order to become part of NOAA’s Teacher at Sea Alumni Association, you
					must successfully complete a Teacher at Sea research cruise and fulfill all of the
					program requirements.
				</p>

				<p>
					Members of the NOAA Teacher at Sea Alumni Association receive: opportunities to
					participate in other NOAA research projects, information about grants and
					partnerships, invitations to participate in NOAA education events,
					classroom materials, invitations to attend regional workshops
					and conferences, and the potential to participate in another Teacher at Sea research cruise.
				</p>
				<p>
					Take a look at what some of our Alumni have to say about their participation
					in the TAS Alumni Association!
				</p>

				<div class="collage_holder">
					<div class="collage_box" id="box1">
						<div class="collage_image" id="image0">
							<div class="collage_image_inner"><img class="collage_src" alt="Jennifer Goldner with NOAA Scientist Kristin Hannanand Trey Driggers" src="http://teacheratsea.files.wordpress.com/2012/06/daftari.jpg?w=200"/>
							</div>
							<div class="caption">
								Teacher at Sea Alumni Jennifer Goldner with NOAA Scientist Kristin Hannan and Trey Driggers
							</div>
						</div>
						<div id="quote0" class="collage_quote">
							<p>
								<i>"We are proud to announce the publication of our<a href="/books/pdf/DaftariAlphabetBook.pdf" target="_blank"> A-Z Shark Coloring Book</a> by NOAA Teacher at Sea!  Director Hammond was so impressed with it that she printed the coloring book." </i>
							</p>
							<p>
								--Jennifer Daftari (TAS, 2011)
							</p>
						</div>
					</div>
					<div class="collage-box no-border" id="box2">
						<div class="collage_image" id="image1">
							<div class="collage_image_inner"><img class="collage_src" alt="Teacher at Sea Alumni at NSTA in Indianapolis" src="http://teacheratsea.files.wordpress.com/2013/09/542045_10150696803534367_92862094366_9081001_881458055_b.jpg?w=200"/>
							</div>
							<div class="caption">
								Teacher at Sea Alumni at NSTA in Indianapolis
							</div>
						</div>
						<div  class="collage_quote" id="quote1">
							<p>
								<i>"Being part of the NOAA booth experience keeps me up to date with the latest materials available. Talking with other teachers from around the country and world gives me a better perspective of how everything relates to each other."</i>
							</p>
							<p>
								-- Mary Patterson (TAS, 2009)
							</p>
						</div>
					</div>

					<div style="clear:both;"></div>

				</div>

				<div class="border"></div>

				<div class="collage_holder">
					<div class="collage_box"  id="box3">
						<div class="collage_image" id="image2">
							<div class="collage_image_inner"><img class="collage_src" alt="New England Alumni meet in Woods Hole, MA for a TAS Alumni professional Development Workshop " src="http://teacheratsea.files.wordpress.com/2012/06/jenns-phone-663.jpg?w=200">
							</div>
							<div class="caption">
								New  England Alumni meet in Woods Hole, MA for  a TAS Alumni Professional Development Workshop
							</div>
						</div>
						<div id="quote2" class="collage_quote">
							<p>
								<i>"We were able to build relationships with scientists, NOAA  Northeast Fisheries Science Center employees and each other. Another fantastic  workshop!"</i>
							</p>
							<p>
								--Stacey Klimkosky (TAS, 2009)
							</p>
							</p>
						</div>
					</div>
					<div class="collage-box no-border"  id="box4">
						<div class="collage_image" id="image3">
							<div class="collage_image_inner"><img class="collage_src" alt="Lynnette Swiger, NOAA Teacher at Sea Alumna, and Dave Withrow, NOAA Scientist, Communicate Through Webinar" src="http://teacheratsea.files.wordpress.com/2012/07/dave-and-lynnette.jpg?w=200"/	>
							</div>
							<div class="caption" id="quote3">
								Lynnette Swiger, NOAA Teacher at Sea Alumna, and Dave Withrow, NOAA Scientist, Communicate Through Webinar
							</div>
						</div>
						<div  class="collage_quote">
							<p>
								<i>"This kind of  experience that NOAA Teacher at Sea provides is really good for teachers and  students."</i>
							</p>
							<p>
								-- Lynnette Swiger (TAS, 2008)
							</p>
						</div>
					</div>

					<div style="clear:both;"></div>
				</div>

			</div>
		</div>
	</div>
	<div style="clear:both"></div>
	<div class="border"></div>
	
	<div class="main_inner_page">

		<div id="social_media" >
			<ul>
				<li ng-repeat="tab in tabs"  class="{{tab.gsx$tabname.state}}" ng-click="runtabs_no_top(tab.gsx$tabname.$t)">
					<a href="#{{location}}{{tab.gsx$tabname.rp}}">{{tab.gsx$tabname.$t}}</a>
				</li>
			</ul>
		</div>
	
		<div id="social_media_body">
			<div ng-repeat="tab in tabs" id="{{tab.gsx$tabname.$t}}" class="{{tab.gsx$tabname.classy}} animate-show">
				<div class="tab_1">
					<div id="wrapper1" class="wrapper_generic" style="overflow-y: scroll; overflow-x: hidden;">
						<div class="scroller_generic" id="scroller1" style="">
							<span ng-bind-html="SkipValidation(tab.gsx$body.$t)"></span>
						</div>
					</div>
				</div>
				<div class="tab_2"><img resize-tabs src="{{tab.image}}?w={{bottomImageWidth}}" alt="{{tab.caption}}">
					<br>
					
					<span id="captionForms" style="margin-top:5px;" class="caption">{{tab.caption}}</span>
				</div><div style="clear:both"></div>
			</div>

		</div>
		<div style="clear:both"></div>
	</div>
</div>