<div id="top">
	<div class="main_top" tabindex="110">
    <h1>NOAA Teacher at Sea RSS Feeds</h1>
    <div class="border2"></div>
    <h2 >What is RSS?</h2>
<img src="/images/rss-logo1.png" alt="rss logo" style="border:none;float:left;padding:10px; padding-top:0px;"/><p><b>Really Simple Syndication</b> (RSS) is a family of web formats used     		  to publish frequently updated digital content. </p>
Most commonly used to update news articles and other content that   changes quickly, RSS feeds may also include podcast episodes (audio and   video files). <br />
<br />
Users of RSS content use programs called feed 'readers' or 'aggregators'   (newer versions of Web browsers offer built in support for RSS feeds). <br />
<br />
A user 'subscribes' to a feed by entering the link of the RSS feed into   their RSS feed reader; the RSS feed reader then checks the subscribed   feeds to see if any have new content since the last time it checked, and   if so, retrieves the new content and presents it to the user. <a href="http://www.usa.gov/webcontent/technology/rss.shtml" target="_blank"><br />
<br />
Read more about RSS from webcontent.gov</a>
<p style="margin-bottom:15px; margin-top:15px;">&nbsp;</p>
<h2>NOAA Teacher at Sea RSS Feeds</h2>
<p>Currently the NOAA Teacher at Sea Program has RSS feeds available for the Teacher at Sea Blog and Photos of the Week. See below for links to both feeds.</p>
<ul>
  <li style="padding:10px; paddiingt-top:0px; list-style-type:disc;"><b><a href="http://teacheratsea.wordpress.com/feed/" target="_blank">NOAA Teacher at Sea Blog</a> <a href="/alumni/alumni_spotlight.xml" target="_blank"><span style="color:#ECBD00">»</span></a></b></li>
<li style="padding:10px;padding-top:0px; list-style-type:disc;"><a href="/media/photo_of_week.xml" target="_blank"><b>Photo of the Week</b></a> <b><a href="/alumni/alumni_spotlight.xml" target="_blank"><span style="color:#ECBD00">»</span></a></b><a href="/alumni/alumni_spotlight.xml" target="_blank"><span style="color:#ECBD00"></span></a></li>
<li style="padding:10px;padding-top:0px; list-style-type:disc;"><a href="/alumni/alumni_spotlight.xml" target="_blank"><b>Alumni Spotlight Feed <span style="color:#ECBD00">»</span></b></a>
</ul>


	</div>	