

<div id="footer">

  

 
 
 
 
 <div id="footer_site_map" ng-hide="showSiteMap==false">
 <div class="border footer_border"></div>
  <div id="footer_site_map_close" ng-click="clickFooter()" ng-hide="showSiteMap==false" style=" float:right; margin-left:0px; margin-right:0px; width:40px; margin-top: -20px;" class="collapse"><img src="/images/collapse_btn.png" alt="collapse button" width="15" height="15" class="icon"/></div>
 <div class="footer_box" id="footer_about">
   	<h3><a href="/about/index.html">About TAS</a></h3> 
    
    <p><a href="#/highlights">Program Highlights</a><br/>
     <a href="#/how_to_apply">How to Apply</a><br/>
     <a href="#/faqs"> FAQs</a><br/>
     <a href="#/ships">NOAA Ships</a><br/>
     <a href="#/contact">Contact Us</a></p>
</div>
    <div class="footer_box" id="footer_seasons">
      <h3>Teacher Seasons</h3> 
      <p><a href="#/2014/">Current Season</a><br/>
      <a href="#/2013/">2013 Field Season</a><br/>
        <a href="#/2012">2012 Field Season</a><br/>
        <a href="#/2011">2011 Field Season</a><br/>
         <a href="#/2010"> 2010 Field Season</a><br/>
      </p>
    </div>
    <div class="footer_box" id="footer_alumni">
      <h3><a href="/alumni/index.html">Alumni</a></h3> <p>
            
       <a href="#/alumni/Forms">Alumni Forms</a><br/>
        <a href="#/alumni_spotlights"> Alumni Spotlight</a><br/>
            <a href="#/alumni/Resources">Resources</a><br/>
    
    </p></div>
    <div class="footer_box" id="footer_resources" >
      <h3>Resources &amp; Gallery</h3> <p><a href="#/resources">Books</a><br/>
      <a href="#/photo_of_week">Photo of the Week</a><br/>
      <a href="/dyk/">Did You Know?</a><br/>
        <a href="#/media/"> Photos and Videos</a><br/>
            <a href="#/news">News</a><br/>
    <a href="http://teacheratsea.wordpress.com" target="_blank"> Blogs</a><br/>
    </p></div>
             <div style="clear:both;"></div>
  </div>
             <div class="border" ></div>
             <div style="clear:both:"></div>
   
<div  id="footer_site_map_open" ng-click="clickFooter()" class="expand" ng-hide="showSiteMap==true" style="float:right; margin-left:0px;margin-right:0px; width:30px;"><img alt="collapse button"  class="icon" src="/images/expand_btn.png" width="15" height="15"/></div>
	<div class="noaa_logo"><a href="http://noaa.gov" target="_blank"><img src='/images/include_file_images/noaa-logo.jpg' alt="NOAA Logo" class="no-border"></a></div>
   <div class="privacy_terms" style="text-align:center; margin-top:15px; margin-bottom:15px">
	 <a href="#/privacy.html">Privacy Policy</a> | 
	 <a href="http://www.rdc.noaa.gov/~foia/">FOIA</a> | 
	 <a href="http://www.cio.noaa.gov/Policy_Programs/info_quality.html">Information Quality</a> |  
	<a href="http://www.noaa.gov/disclaimer.html">Disclaimer</a> | 
	 <a href="http://www.usa.gov">USA.gov</a>  |
     <a href="http://www.ready.gov">Ready.gov</a> | 
     <a href="mailto:teacheratsea@noaa.gov">Contact Webmaster</a><br/>
</div>
<div class="social_media_icons">
        
        
      
          <ul><li >Stay Connected with us: </li> 
            <li ><a href="http://teacheratsea.wordpress.com" target="_blank"><img src="/images/wp_logo.png" width="20" height="20" class="icon" alt="wordpress" /></a></li>
            <li ><a href="http://www.facebook.com/noaateacheratsea" target="_blank"><img src="/images/facebook.png" width="20" height="20" class="icon" alt="facebook"/></a></li>
           <li ><a href="http://twitter.com/teacheratsea" target="_blank"><img src="/images/twitter.png" width="20" height="20" class="icon" alt="twitter"/></a></li>
        
           <li ><a href="http://www.flickr.com/photos/60919111@N08/sets/72157626264008559/with/6635298211/" target="_blank"><img src="/images/flickr.png" alt="flickr"  width="20" height="20" class="icon"/></a></li>
           <li ><a href="http://www.youtube.com/playlist?list=PLFC2C10270ABB3B09" target="_blank"><img src="/images/youtube.png" width="21" height="20" class="icon" alt="youtube"/></a></li>
          
    </ul>
     
          </div>
           
           	
           
           
     

</div>
 