  <div id="IE_box"  style="margin:10px;margin-top:0px;margin-bottom:0px;"></div>
   
   <div id="header">
     <div id="headTitle">
       <div id="headTitle2"><a title="DOC Seal.  Click to visit the U.S. Department of Commerce Website." id="headDOC" href="http://www.commerce.gov"></a>
       
         <map id="Map" name="Map">
           <area alt="NOAA Teacher at Sea" target="_self" href="/" coords="282,19,607,59" shape="rect" href="/Redesign/index.html />
           <area shape="rect" coords="4,4,270,68" href="http://noaa.gov" target="_blank" alt="noaa" />
         </map>
       </div>
     </div>
  </div>
  <noscript><h6>Currently Javascript is disabled.  To fully utilize this site, javascript needs to be enabled in your browser.  </h6></noscript>
