<div>
	<div id="popup_holder" class="animate-show"  ng-hide="bigImage==false" >
		
		<bigimage-repeat id="bigImg" >></bigimage-repeat>
		<big-image id="bigImg2" class="bigImg animate-show" ng-hide="bigImage2==false"></big-image>
				<div style="clear:both"></div>

				</div>
				
				<!--<div ng-hide="teachers[0].checkContents==true" style="margin:15px"><h1>Uh Oh!  The Information you requested was not found.</h1><p>We've been changing some things around on our site.  The information you are looking for may have moved.  Please see below for the main pages on our website.  If you still can't find what you need, please email <a href="emailto:teacheratsea@noaa.gov">teacheratsea@noaa.gov</a> with your request.</p></div>
				</div>-->
				<div class="main_top" >
	  <h1 tabindex="130">Program Highlights</h1>
      <div class="border2"></div>
		  

      <div>
        <div style="float:right;margin:20px; margin-right:30px;"><img tabindex ="131" class="mainimage" src="http://teacheratsea.files.wordpress.com/2013/07/dscf1959.jpg?w=400"alt="Teacher at Sea Maureen Anderson standing in front of NOAA Ship Oregon II"/>
        <div class="caption" style="width:400px; font-size:12px;" tabIndex="132">“It has allowed me to expand my horizons outside of the classroom and give first‐hand experiences to my students. I feel  that it is important that we ‘practice what we preach’ and this experience will allow me to do just that. I gained a great  appreciation for NOAA, not just in fisheries science but the NOAA Corps as well.” <br/>- Jennifer Petro, TAS 2013</div></div>
        <p tabindex ="133">2013 was another successful year for the NOAA Teacher at Sea Program! Below are a few program highlights. Read the entire report here: <a href="/highlights/pdfs/2013NOAATeacheratSeaReportFinal.pdf">2013 NOAA Teacher at Sea Report</a> (PDF, 1.3MB)</p>
        <ul tabindex="134">
          <li class="highlights">Teachers sent to sea: 35</li>
            <li class="highlights">Days at Sea: 520<li>
            <li class="highlights">Research Hours: 6200</li>
            <li class="highlights">States represented: 24</li>
            <li class="highlights">Active Alumni : 300+</li>
            <li class="highlights">Outreach events: 25</li>
            <li class="highlights">Science blogs: 200</li>
          <li class="highlights">Graduate Credits Awarded: 16</li>
          <li class="highlights">Media (articles, radio, TV): 65</li>
        </ul>
        <p tabindex="135">For a more thorough review of the past few years, please refer to the following documents:</p>
        <p><a tabindex="136" href="/highlights/pdfs/TAS_for_web.pdf" target="_blank">Teacher at Sea By the Numbers Infographic </a>(PDF, 2.4MB) </p>
        <p><a tabindex="137"href="/highlights/pdfs/2013NOAATeacheratSeaReportFinal.pdf" target="_blank">2013 NOAA Teacher at Sea Report</a> (PDF, 1.3MB)</p>
        <p><a tabindex="138" href="/highlights/pdfs/2012NOAATeacheratSeaReport.pdf" target="_blank">2012 NOAA Teacher at Sea Report</a> (PDF, 1.16MB)</p>
        <p><a tabindex="139" href="/highlights/pdfs/2011_NOAA_Teacher_at_Sea_Report 12_2011.pdf" target="_blank">2011 NOAA Teacher at Sea Report</a> (PDF, 1.40MB)</p>
        <p><a href="/highlights/pdfs/2010NOAATeachera SeaReport.pdf" target="_blank" class="textlink">2010 NOAA Teacher at Sea Report</a> (PDF, 1.24MB)</p>
            
        <p><a tabindex="140" href="/highlights/pdfs/EvaluationReportoftheNOAATeacheratSeaProgram.pdf" target="_blank" class="textlink">2010 External  Program Evaluation Report</a> (PDF, 160KB) </p>
        <p><a tabindex="141" href="http://www.sciencemag.org/content/326/5951/440.full" target="_blank" class="textlink">2009 Columbia University Study on Teacher Research Experiences</a> (An article published in Science highlighting the value and importance of Teacher Research Experience Programs such as the Teacher at Sea Program)</p>
              </div></div>
<div style="clear:both"></div>
 </div>