<div ng-show="checkContents==false" style="margin:15px"><h1>Uh Oh!  The Information you requested was not found.</h1><p>We've been changing some things around on our site.  The information you are looking for may have moved.  Please see below for the main pages on our website.  If you still can't find what you need, please email <a href="emailto:teacheratsea@noaa.gov">teacheratsea@noaa.gov</a> with your request.</p></div>
<div id="top">
	<div >
	<div id="popup_holder" class="animate-show"  ng-hide="bigImage==false" >
		<big-imagespot id="bigImg1" class="bigImg animate-show"></big-imagespot>

				<div style="clear:both"></div>

				</div>
	<div class="main_top" style="margin-bottom: 0px;">
		<h1 tabindex="130">{{intro[0].gsx$headline.$t}}</h1>
		<div class="border2"></div>
			
		<div tabindex="131" ng-bind-html="SkipValidation(intro[0].gsx$body.$t)">}</div>

		<div class="border"></div>
		
			
			<div class="info_div animate-show" ng-hide="showInfo ==false;" ng-click="closeRollover()">
				<div   class="info_div_photo"><img tabindex="132" src="{{teacher_for_rollover.gsx$profileimage.$t}}?w=200" alt="{{teacher_for_rollover.gsx$teachername.$t}}"/></div>
				<div class="info_div_info">
					<h6>{{teacher_for_rollover.gsx$teachername.$t}}</h6>
					<p>
						{{teacher_for_rollover.gsx$schools.$t}}<br>
						{{teacher_for_rollover.gsx$city.$t}}, {{teacher_for_rollover.gsx$state.$t}}
						<br>
						<a href="{{teacher_for_rollover.gsx$profileurl.$t}}">TAS Profile Page</a>
					</p>
					</div>
			</div>
		
		<h6 tab index="132">NETASA PARTICIPANTS</h6><br>
		<div class="svg">
		<span ng-include="'images/NETASA.svg'" style=""></div>
		<div class="big_state_box">

			
			<div class="state_box" ng-repeat = "teacher in teachers.finalObjArr">
				<div ><b>{{teacher.objects[0].state}}</b></div>
				<span ng-repeat="item in teacher.objects"><a tabindex="135" href="{{item.profileurl}}" target="blank">{{item.name}}</a>, {{item.year}}<br></span><br><br>
				
					</div>
			
		</div>
		<div class="clear"></div>
		<div class="border"></div>
		<h6 tabindex="136">PHOTO GALLERY</h6>
		
		<div  class="gallery" id="gallery">
			
			<div id="container" >
				
					<div  class="tasa_photo item" ng-repeat="img in gallery"   ><img tabindex = "{{img.tabIndex}}" resize-tasa class="tasaimage" id="image{{img.id}}"   ng-src="{{img.gsx$photourl.$t}}?w={{windowWidth}}"  alt="{{img.gsx$caption.$t}}" ng-click="openBigImage(img.gsx$photourl.$t, img.gsx$caption.$t, img.id)" ng-enter="openBigImage(img.gsx$photourl.$t, img.gsx$caption.$t, img.id)"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="border"></div>

		<h6 tabindex="2--">SPOTLIGHTS</h6>
		<div class="spotlight">
			<p tabindex="201" ng-repeat ="item in spot"><a ng-href="#{{item.hash}}">{{item.firstname}} {{item.lastname}}</a></p>
			
		</div>
		 <div class="border"></div>
<h6 tabindex="202">CONTACT INFORMATION</h6>
<p>Stacey Klimkosky, New England Teacher at Sea Alumni Regional Coordinator<br />
  <a tabindex="203" href="mailto:staceyklim@gmail.com">staceyklim@gmail.com</a></p>

<p>Jenn Annetta, NOAA Teacher at Sea Alumni Coordinator<br/>
  <a tabindex="204" href="mailto:jenn@nmsfocean.org">jenn@nmsfocean.org</a></p>


<div style="clear:both"></div>
</div></div>

