 <div id="top">
	<div class="main_top"  tabindex="130">
	  <h1>NOAA Corps</h1>
      <div class="border2"></div>
		  

      <div>
        <div class="imagemain"><img tabindex="131" class="mainimage" src="http://teacheratsea.files.wordpress.com/2012/04/p4190075-e1335146267329.jpg?w=400"alt="NOAA Corps Officers, (Pictured from left to right): Lieutenant Commander Kurt Dreflak, Lieutenant Justin Keesee, Ensign Daniel Langis, Lieutenant Commander Colin Little & Chief Mate Richard Patana (front) Ensign Justin Ellis"/>
        <div class="caption" style="width:400px;" tabindex="132">NOAA Corps Officers, (Pictured from left to right): Lieutenant Commander Kurt Dreflak, Lieutenant Justin Keesee, Ensign Daniel Langis, Lieutenant Commander Colin Little & Chief Mate Richard Patana (front) Ensign Justin Ellis</p>
       </div></div>
        <p>The NOAA Commissioned Officer Corps is one of the seven uniformed services of the United States and traces its roots back to the former Survey of the Coast, established in 1807 by President Thomas Jefferson. The NOAA Corps provides a cadre of professionals trained in engineering, earth sciences, oceanography, meteorology, fisheries science, and other related disciplines. The service, currently authorized to a strength of over 300 commissioned officers, is an integral part of NOAA and its mission. Officers operate ships, fly aircraft, facilitate research projects, conduct diving operations, and serve in staff positions throughout NOAA. Find out more about the Corps, its mission and history by visiting the <a href="http://www.noaacorps.noaa.gov/index.html" target="_blank">NOAA Corps page</a>.
</p>
              </div></div>
<div style="clear:both"></div>
 </div>