<div>
	<div tabindex = "38" class="bigImgClose" id="alert_box_close" ng-click="closeFavorites()" ng-enter="closeFavorites()">
		<img tabindex="110" style="cursor:pointer" alt="collapse button_bigger_white" class="icon" src="/images/collapse_btn_bigger_white.png" height="30" width="30">
	</div>
	<div id="favoritesbox" class="scrolly">
		
		<ul class="chooser">
			<li id="wrapper_search_favbtn" class="{{favButtons[0].state}}" ng-click="changeClass(favButtons[0])">
				BLOGS<sup class="fav_sup" id="blog_sup"  ng-hide="favorites.blogs.length<1">{{favorites.blogs.length}}</sup>
			</li>
			<li id="wrapper_search_fav_imgbtn" class="{{favButtons[1].state}}" ng-click="changeClass(favButtons[1])" >
				IMAGES<sup class="fav_sup" id="img_sup" ng-hide="favorites.images.length<1" >{{favorites.images.length}}</sup>
			</li>
			<li id="wrapper_search_fav_lessonsbtn" class="{{favButtons[2].state}}" ng-click="changeClass(favButtons[2])" >
				LESSONS<sup class="fav_sup" id="lesson_sup" ng-hide="favorites.lessons.length<1">{{favorites.lessons.length}}</sup>
			</li>
		<!--	<li id="wrapper_search_fav_dykbtn"  class='{{favButtons[3].state}}' ng-click="changeClass(favButtons[3])" >
				DYKs<sup class="fav_sup" id="dyk_sup" ng-hide="favorites.dyks.length<1" >{{favorites.dyks.length}}</sup>
		</li>-->
		</ul>
		<div ng-show="favorites.blogs.length==0 && favorites.images.length==0 && favorites.lessons.length==0">As you search our site, you will notice that the blog, images, and lesson results all now have small stars beside them. Click on this icon to "store" your favorite Teacher at Sea resources in your browser. Simply click on the big star icon (next to the search icon), to view, email or share your favorited resources. For more information, click on the info button on the "Favorites" results page.</div>
		<!----Blogs--->
		
		<div class="wrapper_fav {{favButtons[0].classy}}" id="wrapper_search_fav" style="overflow-y: scroll;" >

			<div ng-repeat = "blog in favorites.blogs track by $index" class="searcher" id="searcher{{blog.id}}" style="">
				<div  id="search_image{{blog.id}}_searchblog" class="search_image_blog">
					<img tabindex="{{blog.tabIndex}}" resizesearch-blog id="search_image_img{{blog.id}}_searchblog" class="ImgClick" style="border:none;" src="{{blog.BlogImage}}?w={{search_blog}}" alt="blog.BlogTitle">
				</div>
				<div  id="search_image_txt{{blog.id}}_searchblog" class="search_image_text">
					<b> <a tabindex = "{{blog.tabIndex}}" id="titlelink{{blog.id}}_blog" class="searchlink titlelink" href="{{blog.BlogUrl.0}}" target="_blank"> <span class="favtitle">{{blog.BlogTitle}}</span></a> </b> &nbsp;&nbsp;

					{{blog.favorite}}<img tabindex="{{blog.tabIndex}}" id="favorite{{blog.id}}_searchblog" class="search_favorite {{blog.favorite}}" style="border:none;cursor:pointer" src="/images/star_{{blog.favorite}}.png" alt="Add to Favorites" ng-click="switchFavorite(blog.id, 'blog')" ng-enter="switchFavorite(blog.id, 'blog')">
					<div style="margin-top:10px;font-weight:normal">
						<span ng-repeat="tag in blog.CategoriesArr track by $index"><a tabindex="{{blog.tabIndex}}" class="caption" style="cursor:pointer"  ng-click="searchBlogs(tag)">#{{tag}} </a></span>

					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!---Images--->

		<div class="wrapper_fav {{favButtons[1].classy}}" id="wrapper_search_fav_img" style="overflow-y: scroll;" >

			<div id="search_img_media{{src.id}}" class="search_image" ng-repeat = "src in favorites.images">
				<img tabindex="{{src.tabIndex}}" id="favorite_img_profile{{src.id}}" class="search_favorite_image_off search_favorite {{src.favorite}}" style="border:none;cursor:pointer" src="/images/star_{{src.favorite}}.png" alt="Add to Favorites" ng-click="switchFavorite(src.id, 'photo')" ng-enter="switchFavorite(src.id, 'photo')" >
				<div>
					<img tabindex="{{src.tabIndex}}" resizesearch-image ng-click ="bigImageFav2=true; openBigImage2(src.src, src.post_title, src.post_url, src.finalCaption, src.parent, src.id, src.favorite)" ng-enter ="bigImage2=true; openBigImage(src.src[0], src.post_title, src.post_url, src.finalCaption, src.parent, src.id, src.favorite)" id="search_image_profile{{src.id}}" class="imgsearch" src="{{src.src}}?w={{search_image}}" alt="{{src.finalCaption}}" />
				</div>
			</div>

		</div>
		<div class="clear"></div>


	<!---Lessons--->

	<div class="wrapper_fav {{favButtons[2].classy}}" id="wrapper_search_fav_lessons" style="overflow-y: scroll;" >

		<div ng-repeat="lesson in favorites.lessons track by $index" class="searcher" id="searcher_search_lesson{{lesson.id}}" ng-hide ="lesson.hider==true" >
			<div id="search_searched_lesson{{lesson.id}}" style="padding-bottom:20px;list-style:none;" class="lessonsearch">
				<b style="margin-left:0"><a tabindex="{{lesson.tabIndex}}" target="_blank" id="titlelink{{lesson.id}}lesson_searched" class="titlelink" href="{{lesson.url}}" title="{{lesson.title}}">{{lesson.title}}</a> &nbsp;&nbsp;</b> &nbsp;&nbsp;				<img tabindex="{{lesson.tabIndex}}" id="favorite_searched_lesson{{lesson.id}}" class="search_favorite" src="/images/star_{{lesson.favorite}}.png" alt="Add to Favorites" style="border:none" ng-click="switchFavorite(lesson.id, 'lesson')" ng-enter="switchFavorite(lesson.id, 'lesson')">
<br><br>{{lesson.description}}
				<div tabindex="{{lesson.tabIndex}}" style="font-size:10px">
					<em>({{lesson.year}})</em>
				</div>
				<div>
					<p tabindex="{{lesson.tabIndex}}" ng-bind-html="SkipValidation(lesson.description)">

					</p>
					<div tabindex="{{lesson.tabIndex}}" class="author">
						Author: <a href="#/{{lesson.year}}/{{lesson.firstname}}*{{lesson.lastname}}">{{lesson.firstname}} {{lesson.lastname}}</a>
					</div>
					<div tabindex="{{lesson.tabIndex}}" class="grades">
						Grade Levels: <a class="caption" style="cursor:pointer" ng-click="searchLessons(grade)" ng-repeat="grade in lesson.gradesArr">{{grade}} </a>
					</div>
					<div tabindex="{{lesson.tabIndex}}" class="topics">Topics:
						{{lesson.topics}}
					</div>
					<div tabindex="{{lesson.tabIndex}}" class="tags">
						Tags:<a tabindex="{{lesson.tabIndex}}" class="caption" style="cursor:pointer" ng-click="searchLessons(keyword)" ng-repeat="keyword in lesson.keywordArr">#{{keyword}}</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!---DYKs--->

	<div class="wrapper_fav {{favButtons[3].classy}}" id="wrapper_search_fav_lessons" style="overflow-y: scroll;" >
		<div id="scrollerLS_dyk" class="scroller_fav">
			<div class="searcher_dyk" id="searcher_dyk3">
				<div class="square blue_square search_image" id="box3_fav" style="margin: 0px 7.35px 7.35px; right: 0px; top: 0px; opacity: 1; float: left;">
					<img id="favorite_dyk3" class="search_favorite_image_on" style="border:none;cursor:pointer" onclick="runClickCheckDYK('box3', 'off', 'https://teacheratsea.files.wordpress.com/2014/08/dyk57.jpg')" src="/images/star_on.png" alt="Add to Favorites">
					<a class="no-hover" href="/dyk/#box1_text" target="_blank">
						<img id="sm_image1" class="sm_image bigImgClick" src="https://teacheratsea.files.wordpress.com/2014/08/dyk57.jpg?w=150" title="box1" alt="The back of sharks’ eyeballs have a reflective layer of tissue  called a tapetum.  This helps sharks see extremely well with little light." style="border:none;">
					</a>
				</div>
			</div>
		</div>

		<div class="clear"></div>
	</div>
	<ul id="actions">
	<li ng-hide="showEmailForm==true"  ng-click ="toggleInfo()" ng-enter ="toggleInfo()"><img id="info"   style="border:none;" src="/images/dyk/info.png" alt="Learn about how we hold your favorites">
		<div id="LSinfo"   ng-show="LSinfo==true;" >
			<p>To allow website users to add resources to favorites and email them, this site uses a feature of HTML5 called “Local Storage.” This feature creates a storage file on the user’s local hard drive that holds links to the resources from this website that the individual user identifies as a favorite. No information from this file is transferred to NOAA or any other website. This file can be cleared at any time by pressing the the <img src="/images/dyk/trash.png" class="no-border" width="12" height="12" alt="delete favorites"> button on your Favorite Resources page.</p><p>Your data will only be accessible in the browser you are using currently.  To make your data accessible on other devices, we reccomend you email them to yourself or use the links below to add them to a "cloud-based" application.</p>
		</div>
	</li>
	<li ng-hide="LSinfo==true" id="mail"><img  style="border:none;" src="/images/dyk/mail.png" alt="Email your favorites" ng-click="toggleEmail()" ng-enter="toggleEmail()">
		<div id="mailform" ng-hide="showEmailForm==false;"><form target="_blank" name="emailform" id="emailform" > 
		<div style="padding:15px; padding-bottom:5px; padding-top:0px;"> Email:<br><br> <input ng-model ="address" name="email" id="email" type="email" autocomplete="off" style="width:85%" required placeholder="Enter a valid email address"></div>
			<div style="padding:15px;"></div>
			</form><div style="padding:15px; padding-top:0px;" >
				<button ng-click="setUpEmail()" id="html">HTML Email</button>&nbsp;&nbsp;<button style="padding-right:15px" ng-click="setUpPlainEmail()" id="plain">Plain Text Email</button>
			</div>
			<div id="success" style="padding:15px;display:none; color:#189E81"></div></div></li><li ng-hide="showOption==false" ng-show="showOption==true" id="trash"><img onclick="localStorage.clear();" style="border:none;" src="/images/dyk/trash.png">
	</li>
	<li></li>
	<li></li>
	<li id="last">
		
	</li>
	<li ng-hide="showOption==false" ng-show="showOption==true" id="facebook_ls"><a ng-href="https://www.facebook.com/sharer/sharer.php?+s=100+&p[url]={{social}}&[images][0]=http://teacheratsea.files.wordpress.com/2012/05/logo3.jpg?w=100&p[title]=NOAA+Teacher+at+Sea%20Favorites&p[summary]=My+Favorite+NOAA+Teacher+at+Sea+blogposts+and+photos" target="_blank"><img style="border:none;" src="/images/facebook_for_ls.png"></a></li>
	<li ng-hide="showOption==false" ng-show="showOption==true" id="twitter_ls"><a target="_blank" ng-href="https://twitter.com/intent/tweet?original_referer=http://www.tas.noaa.gov&text=Check%20out%20my%20favorite%20resources%20from%20NOAA%20Teacher%20at%20Sea&url={{social}}"><img  style="border:none;" src="/images/twitter_for_ls.png"></a></li>
	<li ng-hide="showOption==false" ng-show="showOption==true" id="li_ls"><a target="_blank" href="https://www.linkedin.com/shareArticle?summary=&ro=false&title=Check%20out%20my%20NOAA%20Teacher%20at%20Sea%20Favorite%20Blogposts, %20Images,%20and%20Lessons&mini=true&url={{social}}&source=http://teacheratsea.noaa.gov"><img style="border:none;" src="/images/linkedin_for_ls.png"></a></li>
	<li ng-hide="showOption==false" ng-show="showOption==true" id="google_plus"><a href="https://plus.google.com/share?url={{social}}" target="_blank"><img style="border:none;" src="/images/google+.png"></a></li>
	<li ng-hide="showOption==false" ng-show="showOption==true" id="evernote"><a href="https://www.evernote.com/clip.action?url={{social}}&title=TAS%20Favorites&body=%3Ca%20href=%22{{social}}%22%3E{{social}}" target="_blank"><img onclick="setUpSharer('evernote')" style="border:none;" src="/images/evernote.png"></a></li>
	</ul>
</div>

