<div>
	<div class="bigImgClose" ng-click="closeBigImage()"><img style="cursor:pointer" alt="collapse button_bigger_white" class="icon" src="/images/collapse_btn_bigger_white.png" height="30" width="30">
	</div><img id="favorite_img_big_profile{{id}}" resize-bigimage class="search_favorite_image_off search_favorite" src="/images/star.png" border="none" alt="Add to Favorites">
	<div style="max-width:650px; margin:auto">
		<img id= "bigImg{{id}}" src='{{bigImageSrc[0]}}?w={{bigImageWidth}}'  alt="{{alt}}"  class="no-border" />
	</div>
	<div class="caption" id="bigCaption" style="font-size:15px">
		{{alt}}
		<br>
		<a href="{{bigImageSrc[0]}}" target="_blank">View High Resolution Image</a>
	</div>

	<div style="position:absolute;  top:50%;width:100%;margin-left:-28px;">
		<div style="float:left;" ng-click="prevImg(id)"><img style="border:none;cursor:pointer" src="/images/left_arrow_btn.png" alt="previous photo">
		</div>
		<div style="float:right" ng-click="nextImg(id)"><img style="border:none;cursor:pointer" src="/images/right_arrow_btn.png" alt="next photo">

		</div>
	</div>
</div>
