<div>
	<div id="popup_holder" class="animate-show"  ng-hide="bigImage==false" >
		<big-image id="bigImg1" class="bigImg2 animate-show"></big-image>
		<div style="clear:both"></div>
	</div>
	<div ng-show="teacher.dataLoaded==false" style="margin:15px">
		<h1>Uh Oh!  The Information you requested was not found.</h1>
		<p>
			We've been changing some things around on our site.  The information you are looking for may have moved.  Please see below for the main pages on our website.  If you still can't find what you need, please email <a href="emailto:teacheratsea@noaa.gov">teacheratsea@noaa.gov</a> with your request.
		</p>
	</div>
	<div id="top" ng-hide="teacher.dataLoaded==false">
		<div class="main_top" >
			<div class="profile_photo">
				<div>
					
					<span class="loading" ng-show="loadHider==false"> <img ng-src="/images/NOAA-Logo_200.gif" class="no-border" /></span>
					<img imageonloadprofile class="no-border" tabindex="130" resize-profile number="{{number}}" id="profileImage" ng-src='{{teacher.image.split("?")[0]}}?w={{topImageWidth}}' alt='{{alt}}'  class="no-border" ng-hide="loadHider==false"/>
				</div>
				<div class="profile_caption"  tabindex="131">
					<span class="caption"> {{teacher.caption}} <a ng-href='{{teacher.shipurl}}' target='_blank'><i>{{teacher.ship}}</i></a></span>
				</div>
			</div>
			<div id="profile_data">
				<h4 style="margin:0px;" tabindex="132">{{teacher.firstname}} {{teacher.lastname_forDOM}}</h4>
				<p  tabindex="133">
					{{teacher.firstname}} {{teacher.lastname_forDOM}} teaches <span ng-show="teacher.subjects_num==1">{{teacher.subjects}} <a tabindex="133" href="{{teacher.schoolurl}}" target="_blank">{{teacher.school}}</a></span><span ng-show="teacher.subjects_num==2">{{teacher.subjects1}} at <a href="{{teacher.schoolurl1}}" target="_blank">{{teacher.school1}}</a> and {{teacher.subjects2}} at <a href="{{teacher.schoolurl2}}" target="_blank">{{teacher.school2}}</a></span> in {{teacher.city}}, {{teacher.state}}. {{teacher.firstname}} <span ng-show="teacher.datesComp==0">was aboard {{teacher.shiptype}} <em><a tabindex="133" ng-href="{{teacher.shipurl}}" target="_blank">{{teacher.ship}}</a></em> while scientists conducted a <a tabindex="133" ng-href="{{teacher.missionurl}}" target="_blank">{{teacher.mission}}</a>. You can learn more about this important scientific work by <a tabindex="133" ng-href="{{teacher.missionurl}}" target="_blank">clicking here</a>.</span>
					<span ng-show="teacher.datesComp==1">is aboard {{teacher.shiptype}} <em><a tabindex="133" ng-href="{{teacher.shipurl}}" target="_blank">{{teacher.ship}}</a></em> while scientists conducted a <a tabindex="133" ng-href="{{teacher.missionurl}}" target="_blank">{{teacher.mission}}</a>. You can learn more about this important scientific work by <a tabindex="133" ng-href="{{teacher.missionurl}}" target="_blank">clicking here</a>.</span>
					<span ng-show="teacher.datesComp==2">will be aboard {{teacher.shiptype}} <em><a tabindex="133" ng-href="{{teacher.shipurl}}" target="_blank">{{teacher.ship}}</a></em> while scientists conducted a <a tabindex="133" ng-href="{{teacher.missionurl}}" target="_blank">{{teacher.mission}}</a>. You can learn more about this important scientific work by <a tabindex="133" ng-href="{{teacher.missionurl}}" target="_blank">clicking here</a>.</span>
				</p>
				<p  tabindex="134">
					<b style="color:#0057a5">School Town: </b>{{teacher.city}}, {{teacher.state}}
					<br>
					<b style="color:#0057a5">School: </b><span ng-show="teacher.subjects_num==1"><a tabindex="133" href="{{teacher.schoolurl}}" target="_blank">{{teacher.school}}</a></span><span ng-show="teacher.subjects_num==2"><a tabindex="133" href="{{teacher.schoolurl1}}" target="_blank">{{teacher.school1}}</a> and {{teacher.subjects2}} at <a href="{{teacher.schoolurl2}}" target="_blank">{{teacher.school2}}</a></span>
					<br>
					<b style="color:#0057a5">Grades Taught: </b>{{teacher.grades}}
					<br>
					<b style="color:#0057a5">Ship: </b>{{teacher.shiptype}} <a  tabindex="133" ng-href="{{teacher.shipurl}}" target="_blank"><em>{{teacher.ship}}</em></a>
					<br>
					<b style="color:#0057a5">Cruise Dates:</b> {{teacher.dates}}
					<br>
					<b style="color:#0057a5">Mission: </b><a tabindex="133" ng-href="{{teacher.cruiseurl}}" target="_blank">{{teacher.mission}}</a>
					<br>
					<b style="color:#0057a5">Blog: </b><a tabindex="133" ng-href="{{teacher.wordpressurl}}" target="_blank">{{teacher.firstname}}'s Blog Posts</a>
				</p>
			</div>
			<div style="clear:both"></div>
		</div>
		<div class="border" style="margin-bottom:20px; margin-top: 0px;"></div>
		<div class="main_inner_page" >
			<div id="social_media">
				<ul ol role = "profile_tabs">
					<li id=“blogposts” ng-model="buttons.blogs.state"  class="{{buttons.blogs.state}}" ng-hide="wp.Blogs==false" role="blogs_tab" ng-click="runTabs()" ng-enter="runTabs()" >
						<a  tabindex="135" ng-model = "buttons.blogs"  class="cursor"  href="#{{location}}/blogs">Blogs</a>
					</li>
					<li id=“photos” ng-model="buttons.photos.state"  class="{{buttons.photos.state}}" ng-hide="wp.checkPhotos==false" role="photos_tab" ng-click="runTabs()" ng-enter="runTabs()"  >
						<a  tabindex="136" ng-model = "buttons.photos"  class="cursor" href="#{{location}}/photos">Photos</a>
					</li>
					<li id=“videos” ng-model="buttons.videos.state"  class="{{buttons.videos.state}}" ng-hide="wp.checkVideos==false" role="videos_tab"  ng-click="runTabs()" ng-enter="runTabs()" >
						<a  tabindex="137" ng-model = "buttons.videos"   class="cursor" href="#{{location}}/videos">Videos</a>
					</li>
					<li id=“lessons” ng-model="buttons.lessons.state"  class="{{buttons.lessons.state}}" ng-hide="lessons.checkContents==false" role="lessons_tab" ng-click="runTabs()" ng-enter="runTabs()" >
						<a  tabindex="138" ng-model = "buttons.lessons"   class="cursor" href="#{{location}}/lessons">Lessons</a>
					</li>
					<li id=“news” ng-model="buttons.news.state"  class="{{buttons.news.state}}"  ng-hide="news.checkContents==false" role="news_tab" ng-click="runTabs()" ng-enter="runTabs()" >
						<a  tabindex="139" ng-model = "buttons.news"  class="cursor" href="#{{location}}/news" >News</a>
					</li>
					<li id=“ship” ng-model="buttons.ship.state"  class="{{buttons.ship.state}}"  role="ship_tabs" ng-click="runTabs()" ng-enter="runTabs()" >
						<a  tabindex="140" ng-model = "buttons.ship"  class="cursor" href="#{{location}}/ship">Ship</a>
					</li>
				</ul>
			</div>
			
			<div id="social_media_body" >
				<div  ng-hide="wp.dataLoaded" class="preloader"></div>
				<div ng-hide="wp.checkForItems==true" style="margin:15px">
					<h3>While you wait...<h3><p>Did You Know? <br>{{fact}}<br><br>Learn more interesting facts about Marine Life, NOAA Ships, and Hydrography at <a href="/dyk" target="_blank">Did You Know: Tweets From Sea</a>.  </p>
				</div>
				<div id="blogpostsbox"  class="{{buttons.blogs.classy}}" aria-labelledby="blogposts" aria-hidden="{{buttons.blogs.state}}" >
					<div class="profile-wrapper" id="wrapper_blogposts" style="overflow: scroll;">
						<div class="scroller_profile" id="scroller_blogs">
							<div class="searcher" id="searcher_profile{{index}}"  ng-repeat="item in wpdata.items">
								<div style="display:none;" id="search_image1profile" class="search_image_blog"><img id="search_image_img_profile{{index}}" class="ImgClick" style="border:none;" ng-src="{{item.BlogImage}}?w=100" alt="{{item.title}}">
								</div>
								<div id="search_image_txt{{item.id}}_profile" class="search_image_text">
									<b><a  tabindex="141" id="titlelink{{index}}_profile" class="titlelink searchlink" href="{{item.BlogUrl[0]}}" title="{{item.BlogTitle}}" target="_blank">{{item.BlogTitle}}</a>&nbsp;&nbsp;</b>
									<img tabindex="141" id="favorite_profile{{item.id}}" class="search_favorite {{item.favorite}}" style="border:none;cursor:pointer" src="/images/star_{{item.favorite}}.png" alt="Add to Favorites" ng-click="switchFavorite(item.id, 'blog')" ng-enter="switchFavorite(item.id, 'blog')">
									<div id="blogdesc{{item.id}}" class="blogdesc" tabindex="141" >
										{{item.contentSnipp}}... <a tabindex="141"ng-href="{{item.link}}" target="_blank">Read More</a>
									</div>
									<div style="margin-top; font-weight:normal;display:none; float:left" ng-repeat="tags in item.CategoriesArr" >
										<a tabindex="141" class="caption" style="cursor:pointer" ng-click="showResult()">{{tags}}, </a>
									</div>
								</div>
								<div class="clear""></div>
								</div>

								</div>
								</div>
								</div>

								<div id="photobox" class="{{buttons.photos.classy}}" aria-labelledby="photos" aria-hidden='{{buttons.photos.state}}'>
								<div class="profile-wrapper" id="wrapper_photos" style="overflow: scroll;" ">
									<div class="scroller_profile" id="scroller_photos"  >
										<div id="searcher_image_profile{{index}}">
											<div id="search_img_profile{{src.id}}" class="blogphotos" ng-repeat = "src in images">
												<div>
													<span class="loading" ng-show="loadHider==false"> <img ng-src="/images/NOAA-Logo_200.gif" class="no-border" /></span>
													<img ng-hide="loadHider==false" imageonloadprofile tabindex="{{src.tabIndex}}" ng-click ="bigImage=true; openBigImage(src.src, src.post_title, src.post_url, src.caption, src.parent, src.id,src.favorite)" ng-enter ="bigImage=true; openBigImage(src.src, src.post_title, src.post_url, src.caption, src.parent, src.id, src.favorite)" id="search_image_profile{{src.id}}" class="imgsearch" src="{{src.src}}?w=130" alt="{{wp.BlogTitle}}{{src.caption}}" />
												</div>
												<img tabindex="{{src.tabIndex}}" id="favorite_img_profile{{src.id}}" class="search_favorite_image_off search_favorite_{{src.favorite}}" ng-click="switchFavorite(src.id, 'photo')" ng-enter="switchFavorite(src.id, 'photo')" style="border:none;cursor:pointer" ng-src="/images/star_{{src.favorite}}.png" alt="Add to Favorites">
											</div>
											<div style="clear:both; margin-bottom:20px;"></div>
										</div>
									</div>
									
								</div>
							</div>

							<div id="videosbox" class="{{buttons.videos.classy}}" ng-switch="wp.dataLoaded" aria-labelledby="videos" aria-hidden='{{buttons.videos.state}}}'>
								<div class="profile-wrapper" id="wrapper_videos" style="overflow: scroll;" ng-switch="wp.dataLoaded">
									<div class="scroller_profile" id="scroller_videos" ng-switch="wp.loaded">
										<div class="wp" style="float:left; margin:15px; "  tabindex="141" ng-repeat = "src in wp.WPVid" ng-switch="wp.dataLoaded">
											<wp-videos resize-profile width="{{video}}" height="{{video*.75}}"></wp-videos>
										</div>
										<div class="yt"  resize-profile width="{{video}}" height="{{video*.75}}" style="float:left; margin:15px; "ng-repeat = "src in wp.YT" tabindex="141">
											<yt-videos></yt-videos>
										</div>
										<div id="vm" resize-profile width="{{video}}" height="{{video*.75}}" style="float:left; margin:15px;" ng-repeat = "src in wp.VMVid" tabindex="141">
											<vm-videos></vm-videos>
										</div>
									</div>
								</div>
								<div class="clear"></div>
							</div>

							<div id="lessonsbox"  class="{{buttons.lessons.classy}}" aria-hidden='{{buttons.lessons.state}}}' aria-labelledby="lessons">
								<div class="profile-wrapper" id="wrapper_lessons" style="overflow-y: scroll;" >
									<div class="scroller_profile" id="scroller_lessons" ng-hide="wp.lessonContents==false" tabindex="142">
										<b >Teacher at Sea participants create lessons for their own classes based on their research cruise. You are welcome to use these lessons and adapt them as you see fit.</b>
										<br>
										<br>
										<div ng-repeat="lesson in lessons" class="searcher" id="searcher_profile_lesson0">
											<div id="search_profile_lesson_profile" style="padding-bottom:20px;list-style:none;" class="lessonsearch" >
												<b style="margin-left:0"><a tabindex="142" target="_blank" id="lesson_profile" class="titlelink" ng-href="{{lesson.url}}" title="Hydrography, Mapping the Ocean Floor with a Sounding Box">{{lesson.title}}</a> &nbsp;&nbsp;</b><img tabindex="142" id="favorite_profile_lesson{{lesson.id}}" class="search_favorite" src="/images/star_{{lesson.favorite}}.png" alt="Add to Favorites" style="border:none" ng-click="switchFavorite(lesson.id, 'lesson')" ng-enter="switchFavorite(lesson.id, 'lesson')">
												<div style="font-size:10px">
													<em>(PDF: {{lesson.size}})</em>
												</div>
												<div>
													<p class="description" tabindex="142">
														{{lesson.description}}
													</p>
													<div class="author" tabindex="142">
														Author: <a tabindex="142" href="/2014/harrington.html">{{lesson.firstname}} {{lesson.lastname}}</a>
													</div>
													<div class="grades" tabindex="142">
														Grade Levels: {{lesson.grades}}
													</div>
													<div class="topics" tabindex="142">
														Topics:{{lesson.topics}}
													</div>
													<div class="tags"ntabindex="142">
														Tags: {{lesson.keywords}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="newsbox" class="{{buttons.news.classy}}" aria-labelledby="news" aria-hidden='{{buttons.news.state}}}'>
								<div class="profile-wrapper" id="wrapper_news" style="overflow: scroll;" >
									<div class="scroller_profile" id="scroller_news">
										<div style="list-style-type:none;" ng-repeat="newsItem in news" tabindex="143" >
											Read this article <a tabindex="144" href="{{newsItem.articleurl}}" target="_blank">{{newsItem.article}}</a> about NOAA Teacher at Sea {{newsItem.teacher}} from <a tabindex="144" ng-href="{{newsItem.mediaoutleturl}}" target="_blank"><em>{{newsItem.mediaoutlet}}</em></a>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							</div>	
							<div id="shipinfobox" class="{{buttons.ship.classy}}" aria-labelledby="ship" aria-hidden='{{buttons.news.state}}}'>
								<div class="profile-wrapper" id="wrapper_ship" style="overflow: scroll;">
									<div class="scroller_profile" id="scroller_ship">
										<div>
											<img tabindex="145" style="float:left; margin:15px; margin-left:0px;margin-top:0px;margin-right:20px;" src="{{ship[0].shipimage}}?w={{video}}" alt=" {{ship[0].shipname}}"
											>
											<h6 style="margin-left:0px" tabindex="145"> {{ship[0].shipname}}</h6>
											<p tabindex="145" ng-bind-html="SkipValidation(ship[0].description)"></p>
										</div>
										<div class="clear"></div>
									</div>
								</div>
								
							</div>
							
						</div>
						<div class="clear"></div>
					</div>
				</div>
